body{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
}
#logo{
  position: absolute;
  width: 217px;
  height: 42px;
  left: 217px;
  top: 20px;
}
h2{
  position: absolute;
  width: 364px;
  height: 75px;
  left: 824px;
  top: 232px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 132%;
  text-align: center;
  color: #484747;
}
#wel-text{
  position: absolute;
  width: 457px;
  height: 75px;
  left: 831px;
  top: 306px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 132%;
  color: #484747;
}
/*Style the input container */
#ps-container {
  display: flex;
  position: absolute;
  width: 435px;
  height: 72px;
  left: 835px;
  top: 465px;
  background: #FFFFFF;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#us-container{
  display: flex;
  position: absolute;
  width: 435px;
  height: 72px;
  left: 835px;
  top: 395px;
  background: #F0EFFF;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
/* Style the form icons */
.icon {
  padding: 23px;
  color: #c4c4c4;
  min-width: 50px;
  text-align: center;
}
/* Style the input fields */
 #username{
  background: #F0EFFF;
  width: 332.8px;
}
#password{
  background: #FFFFFF;
  width: 332.8px;
}
#check{
  position: absolute;
  height: 21px;
  left: 870px;
  top: 575px;
  background: #585B8A;
}
#rem{
  position: absolute;
  width: 124px;
  height: 21px;
  left: 888px;
  top: 562px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 132%;
  color: #858484;
}
#login{
  position: absolute;
  width: 130px;
  height: 52px;
  left: 860px;
  top: 614px;
  background: #585B8A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #FFFFFF;
}
#crea8-acct{
  position: absolute;
  width: 170px;
  height: 52px;
  left: 1070px;
  top: 614px;
  background: #FFFFFF;
  border: 0.5px solid rgba(88, 91, 138, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#create{
  position: absolute;
  top: 700px;
  left: 860px;
  font-family: Poppins;
  line-height: 132%;
  width: 300px;
}
#signup{
  text-decoration: none;
}
#forgot-p{
  position: absolute;
  width: 148px;
  height: 21px;
  left: 1110px;
  top: 579px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 132%;
  text-decoration: none;
}
.wel-sec{
  position: absolute;
  top: -120px;
}
.login-ui{
  position: absolute;
  top: 150px;
}



@media (max-width: 767px) {
  body{
  position: relative;
  background: #FFFFFF;
  } 
  #logo{
    position: absolute;
    width: 132px;
    height: 25.55px;
    left: 16px;
    top: 8px;    
  } 
  .login-ui{
    display: none;
  }
  h2{
    position: absolute;
    width: 232px;
    height: 30px;
    left: 64px;
    top: 170px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132%;
    text-align: center;
    color: #484747;
  }
  #wel-text{
    position: absolute;
    width: 300px;
    height: 49px;
    left: 30px;
    top: 210px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 132%;
    text-align: center;
    color: #484747;
  }
  #us-container{
    position: absolute;
    width: 315px;
    height: 50.07px;
    left: 22px;
    top: 264.69px;
  }
  #ps-container{
    position: absolute;
    width: 315px;
    height: 50.07px;
    left: 22px;
    top: 313.36px;
  }
  .icon {
    padding: 13px;
    color: #c4c4c4;
    min-width: 50px;
    text-align: center;
  }
  #check{
    position: absolute;
    left: 22px;
    right: 88.33%;
    top: 392px;
  }
  #rem{
    position: absolute;
    left: 47px;
    right: 55.56%;
    top: 387px;
    bottom: 34.38%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 132%;
    color: #858484;
  } 
  #forgot-p{
    position: absolute;
    width: 107px;
    height: 18px;
    left: 230px;
    top: 399px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 132%;
    color: #585B8A;
  }
  #login{
    position: absolute;
    width: 130px;
    height: 44px;
    left: 94px;
    top: 447px;
  }
  #create{
    position: absolute;
    width: 252px;
    height: 21px;
    left: 54px;
    top: 535px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 132%;
    color: #484747;
  }
  .wel-sec{
    position: relative;
    top: 25px;
    left: 5px;
  }
}
